.mat-form-field {
    display: block;
}

.user-profile-psw-change-card {
    height: 250px;
    width: 500px;
    margin: auto;
    margin-top: 20px;
    min-width: 300px;
}

.update-profile-psw-change-button {
    margin-left: 100px;
    float: right;
}