.resource1-daily-cumulative-card {
    width: 1000px;
    margin: 20px;
}

.resource1-daily-cumulative-outer {
    width: 900px;
    height: 510px;
    overflow: auto;
}

.resource1-daily-cumulative-inner {
    width: 900px;
    height:500px;
}