.mat-form-field {
    display: block;
}

.user-profile-details-card {
    height: 230px;
    width: 500px;
    margin: auto;
    margin-top: 20px;
    min-width: 300px;
}

.update-profile-details-button {
    margin-left: 100px;
    float: right;
}