.card {
    width: 400px;
    margin: 20px;
}

table {
    width: 100%;
  }

.table-container {
    position: relative;
    width: 90%;
    max-height: 700px;
    overflow: auto;
    margin: 0 auto;
}

#rejectsPieChart {
    text-align: center;
}