@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr';
@import "./custom";

body {
    margin: 0;
}

.icon-clickable {
    cursor: pointer;
    float: right;
}