<mat-sidenav-container>
  <mat-sidenav  #sidenav role="navigation">
   <mat-nav-list>
    <a mat-list-item>
      <mat-icon class="icon">input</mat-icon>
      <span class="label">Login</span>
    </a>
    <a mat-list-item>
      <mat-icon class="icon">home</mat-icon>  
        <span class="label">Home</span>
    </a>
    <a mat-list-item>
      <mat-icon class="icon">dashboard</mat-icon>  
      <span class="label">Dashboard</span>
    </a>
    <a  mat-list-item type="button">
      <mat-icon class="icon">input</mat-icon>
      <span class="label">LogOut</span>
    </a>  
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
          </button>
      </div>

      <div>
        <a>
          DEMO
        </a>
      </div>

     <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <div fxLayout fxLayoutGap="10px" class="navigation-items">

            <a mat-button *ngIf="authService.isLoggedIn()" [routerLink]="['me/resource1']" routerLinkActive="active">
              <mat-icon class="icon">input</mat-icon>
              <span class="label">Manufacturing</span>
            </a>
  
          
          <a mat-button *ngIf="authService.isLoggedIn()" [routerLink]="['/yields']" routerLinkActive="active">
            <mat-icon class="icon">table_chart</mat-icon>
            <span class="label">Product Yields</span>
          </a>

          <a mat-button *ngIf="authService.isLoggedIn()" [routerLink]="['/orders']" routerLinkActive="active">
            <mat-icon class="icon">slideshow</mat-icon>
            <span class="label">Order Review</span>
          </a>

          <a mat-button *ngIf="authService.isLoggedIn() && authService.isAdmin()" (click)='alertMessage()'>
            <mat-icon class="icon">import_export</mat-icon>  
            Import Data
          </a>

          <a mat-button *ngIf="authService.isLoggedIn() && authService.isAdmin()" [routerLink]="['/admin']" routerLinkActive="active">
            <mat-icon class="icon">settings</mat-icon>
            <span class="label">Admin</span>
          </a>


          <a mat-button *ngIf="authService.isLoggedIn()" [matMenuTriggerFor]="user">
            <mat-icon class="icon">person</mat-icon>  
            <span class="label">admin</span>

            <mat-menu #user="matMenu">
              <button mat-menu-item [routerLink]="['/admin/profile']" routerLinkActive="active"><mat-icon class="icon">person</mat-icon>Profile</button>
              <button mat-menu-item routerLinkActive="active" (click)="authService.logout()"><mat-icon class="icon">power_settings_new</mat-icon>Logout</button>
            </mat-menu>
          </a>
          
        </div>
     </div>
    </mat-toolbar>
    <main>
      <router-outlet>

      </router-outlet>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>