.login-main {
  margin-top: 10%;
}   

.card-actions {
  float: right;
  margin: 0;
}

.login-error {
  text-align: center;
}

.login-icon {
  fill:#f44336;
  color: #f44336;
}

.mat-card-header {
  display: inline;
  text-align: center;
}

mat-card {
  min-width: 20%;
}